<div class="bg-dark-brown text-white">
  <div class="container-md d-flex justify-content-between align-items-center pt-3 pb-3">

    <ul class="d-flex align-items-center justify-content-between mb-0 ps-0">
      <li class="list-unstyled me-4">
        <a href="./index.html"><img src="../assets/image/index/d’Logo.png" alt="" /></a>
      </li>
      <li class="list-unstyled">&copy; 2020. All Rights Reserved.</li>
    </ul>
    <div class="d-lg-flex d-none">
      <ul class="d-flex mb-3 mt-3 ps-0">
        <li class="list list-unstyled text-dark-gray list-unstyled">
          <a class="link-dark-gray d-flex justify-content-center align-items-center text-decoration-none" href="#">
            <span class="text-dark-gray me-4 text-white">Product</span>
          </a>
        </li>
        <li class="list list-unstyled text-dark-gray list-unstyled">
          <a class="link-dark-gray d-flex justify-content-center align-items-center text-decoration-none" href="#">
            <span class="text-dark-gray me-4 text-white">log in</span>
          </a>
        </li>
        <li class="list list-unstyled text-dark-gray list-unstyled">
          <a class="link-dark-gray d-flex justify-content-center align-items-center text-decoration-none" href="#">
            <span class="text-dark-gray me-4 text-white">Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>