<footer class="footer-img">
  <div class="container-md row  d-flex align-items-center align-items-lg-end form-detail mx-auto">
    <div class="col-lg-4 col-12">
      <h2 class="text-dark-gray">記得<br />
        訂閱以獲取更多資訊！</h2>
      <form class="row footer-form">
        <input type="email" class="col-8" placeholder="Your email address" />
        <div class="text-white bg-dark-brown col-4 align-items-center d-flex justify-content-center" style="border: 2px solid #916000;">
          <span>Subscribe</span>
        </div>
      </form>
    </div>
  </div>
</footer>
<div class="bg-dark-brown text-white">
  <div class="container-md d-flex justify-content-between align-items-center pt-3 pb-3">

    <ul class="d-flex align-items-center justify-content-between mb-0 ps-0">
      <li class="list-unstyled me-4">
        <a href="./index.html"><img src="../assets/image/index/d’Logo.png" alt="" /></a>
      </li>
      <li class="list-unstyled">&copy; 2020. All Rights Reserved.</li>
    </ul>
    <div class="d-lg-flex d-none">
      <ul class="d-flex mb-3 mt-3 ps-0">
        <li class="list list-unstyled text-dark-gray list-unstyled">
          <a class="link-dark-gray d-flex justify-content-center align-items-center text-decoration-none" href="../pages/product.html">
            <span class="text-dark-gray me-4 text-white">Product</span>
          </a>
        </li>
        <li class="list list-unstyled text-dark-gray list-unstyled">
          <a class="link-dark-gray d-flex justify-content-center align-items-center text-decoration-none" href="#">
            <span class="text-dark-gray me-4 text-white">log in</span>
          </a>
        </li>
        <li class="list list-unstyled text-dark-gray list-unstyled">
          <a class="link-dark-gray d-flex justify-content-center align-items-center text-decoration-none" href="#">
            <span class="text-dark-gray me-4 text-white">Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>