.nav-item--label {
    top: 9px;
    right: 57px;
    border-radius: 7px;
    width: 16px;
    height: 13px;
    font-size: 12px;
    text-align: center;
}

.bi-cart-fill {
    font-size: 20px;
    color: #8d8d8d;
}