.container {
  width: 1110px;
  margin: 0 auto;
}

$base-path: "/vite/assets/";

.banner {
  background-image: url("#{$base-path}image/index/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
  height: 468px;
  @media (min-width: 992px) {
    height: 870px;
  }
}

.banner-item {
  width: 445px;
}

.showButton {
  width: 350px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  opacity: 1;
  padding: 13px 109px 13px 109px;
}

.content-1 {
  width: 350px;
}

.content-1-img {
  background: url("#{$base-path}image/index/Gabrielle.jpg") no-repeat center 30% /
    cover;
  height: 350px;
  @media (min-width: 992px) {
    height: 555px;
  }
}

.content-2-img {
  background: url("#{$base-path}image/index/Gabrielle.jpg") no-repeat center 30% /
    cover;
  height: 350px;
  @media (min-width: 992px) {
    height: 555px;
  }
}

.content-3-img {
  background: url("#{$base-path}image/index/CHANEL N.jpg") no-repeat center 30% /
    cover;
  height: 350px;
  @media (min-width: 992px) {
    height: 555px;
  }
}

.content-4-img {
  background: url("#{$base-path}image/index/soap.jpg") no-repeat center/cover;
  height: 350px;
  @media (min-width: 992px) {
    height: 1080px;
  }
}

.introButton {
  border: 2px solid #000000;
  border-radius: 30px;
  opacity: 1;
  padding: 4px 31px 4px 31px;
  line-height: 40px;
  @media (min-width: 992px) {
    padding: 13px 40px 13px 40px;
    line-height: 30px;
  }
}

.intro {
  margin: 0 auto;
  @media (min-width: 992px) {
    width: 60%;
  }
}

.intro-list {
  margin: 0 auto;
  @media (min-width: 992px) {
    width: 55%;
  }
}

.content-5-img {
  background: url("#{$base-path}image/index/bottle-recycling.jpg") no-repeat
    center/cover;
  height: 520px;
}

.footer-img {
  width: 100%;
  height: 600px;
  background: url("#{$base-path}image/index/footer.jpg") no-repeat center/cover;
  padding: 312px 15px 112px 15px;
  @media (min-width: 992px) {
    padding: 112px 0px 112px 0px;
  }
}

.footer-form {
  height: 60px;
  border-radius: 4px;
  border: 2px solid #916000;
}

.form-detail {
  @media (min-width: 992px) {
    height: 376px;
  }
}

.display-img {
  width: 100%;
  height: 540px;
  transition: 0.3s;
  &-mask::before {
    transition: background, 0.3s;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }
  
}
.mask-text {
  position: relative;
  z-index: 1000;
  color: #ffffff;
  font-size: 1.5rem;
}
