$base-path: "/vite/assets/";

.container {
  max-width: 1100px;
}

.good{
  &-item{
    transition: 0.3s;
    
  }
  &-img{
    height: 165px;
    @media (min-width: 992px) {
      height: 255px;
    }
    &-01{
      background: url("#{$base-path}image/product/products1.jpg");
      background-position: center 60%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-02{
      background: url("#{$base-path}image/product/products2.jpg");
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-03{
      background: url("#{$base-path}image/product/products3.jpg");
      background-position: center 30%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-04{
      background: url("#{$base-path}image/product/products4.jpg");
      background-position: center 30%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-05{
      background: url("#{$base-path}image/product/products5.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-06{ 
      background: url("#{$base-path}image/product/products6.png");
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-07{ 
      background: url("#{$base-path}image/product/products7.jpg");
      background-position: center 60%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-08{ 
      background: url("#{$base-path}image/product/products8.jpg");
      background-position: center 60%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-09{ 
      background: url("#{$base-path}image/product/products9.jpg");
      background-position: center 60%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-10{ 
      background: url("#{$base-path}image/product/products10.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-11{ 
      background: url("#{$base-path}image/product/products11.jpg");
      background-position: center 60%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &-12{ 
      background: url("#{$base-path}image/product/products12.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &-title{
    font-size: 24px;
  }
  &-price{
    color: var(--bs-dark-gray);
  }
  &-label{
    color: var(--bs-dark-brown);
  }
}

.page-a {
  font: normal normal normal 25px/30px SF Pro Text;
  color: black;
}

.page-a:hover {
  text-decoration: underline !important;
  color: #AC8A46;
}

.cart {
  color: #AC8A46;
}

.heart {
  color: #AC8A46;
}

.goods{
  &-list{
    li{
      transition: background, 0.3s;
      cursor: pointer;
      &:hover{
        background-color: #0000000D;
      }
    }
  }
}