<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    <%- include('./layout/header'); -%>
    <div class="bg-dark-brown d-lg-flex d-none">
      <div class="container">
        <div class="row">
          <ul class="d-flex">
            <li class="list-unstyled"><a href="#" class="text-decoration-none text-white"
              ><span class="brand-title brand-title--active">CHANEL</span></a
            ></li>
            <li class="list-unstyled"><a href="#" class="text-decoration-none text-white"
              ><span class="brand-title brand-title--active">CHANEL</span></a
            ></li>
            <li class="list-unstyled"><a href="#" class="text-decoration-none text-white"
              ><span class="brand-title brand-title--active">CHANEL</span></a
            ></li>
            <li class="list-unstyled"><a href="#" class="text-decoration-none text-white"
              ><span class="brand-title brand-title--active">CHANEL</span></a
            ></li>
            <li class="list-unstyled"><a href="#" class="text-decoration-none text-white"
              ><span class="brand-title brand-title--active">CHANEL</span></a
            ></li>
            <li class="list-unstyled"><a href="#" class="text-decoration-none text-white"
              ><span class="brand-title brand-title--active">CHANEL</span></a
            ></li>
          </ul>
        </div>
        <!-- <div class="row py-lg-3">
          <div class="col-auto">
            <a href="#" class="text-decoration-none text-white"
              ><span class="brand-title brand-title--active">CHANEL</span></a
            >
          </div>
          <div class="col-auto">
            <a href="#" class="text-decoration-none text-white"><span class="brand-title">Jo Malone</span></a>
          </div>
          <div class="col-auto">
            <a href="#" class="text-decoration-none text-white"><span class="brand-title">Curology</span></a>
          </div>
          <div class="col-auto">
            <a href="#" class="text-decoration-none text-white"><span class="brand-title">Dior</span></a>
          </div>
          <div class="col-auto">
            <a href="#" class="text-decoration-none text-white"><span class="brand-title">Chole</span></a>
          </div>
          <div class="col-auto">
            <a href="#" class="text-decoration-none text-white"><span class="brand-title">ZARA</span></a>
          </div>
        </div> -->
      </div>
    </div>
    <div class="products">
      <div class="container-md py-5">
        <ul class="row ps-0 gy-lg-5 gy-1 gx-4 goods-list">
          <a href="#">
            <li class="list-unstyled col-lg-3 col-6">
              <a class="good-img good-img-01 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
              <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
              <span class="good-price--discount me-8">NT$1,380</span>
              <span class="good-price text-decoration-line-through">NT$1,580</span>
              <div class="good-label">
                <span class="good-label-item material-icons"
                  ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                >
                <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
              </div>
            </li>
          </a>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-02 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-03 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-04 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-05 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-06 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-07 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-08 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-09 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-10 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-11 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
          <li class="list-unstyled col-lg-3 col-6">
            <a href="#">
              <a class="good-img good-img-12 d-block" alt=""></a>
              <h2 class="good-title"><a href="#" class="text-decoration-none text-dark">Poppy & Barley</a></h2>
                <a class="good-brand text-decoration-none text-dark">Jo Malone</a>
                <span class="good-price--discount me-8">NT$1,380</span>
                <span class="good-price text-decoration-line-through">NT$1,580</span>
                <div class="good-label">
                  <span class="good-label-item material-icons"
                    ><a href="#" class="text-decoration-none text-dark"><i class="bi bi-heart-fill heart"></i></a></span
                  >
                  <span class="material-icons ms-2"><a href="#" class="text-decoration-none text-dark"><i class="bi bi-cart-fill cart"></i></a></span>
                </div>
            </a>
          </li>
        </ul>
        <div class="row justify-content-center mb-40 mb-md-60">
          <div class="col-auto">
            <ul class="pagination">
              <li class="page-item mx-10 list-unstyled me-4"><a href="#" class="text-decoration-none page-a">1</a></li>
              <li class="page-item mx-10 list-unstyled me-4"><a href="#" class="text-decoration-none page-a">2</a></li>
              <li class="page-item mx-10 list-unstyled"><a href="#" class="text-decoration-none page-a">3</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>